# This file is part of Almond
#
# Copyright 2015 Giovanni Campagna <gcampagn@cs.stanford.edu>
#
# See COPYING for details

[Unit]
Description=Almond personal IoT service

[Service]
ExecStart=/opt/nodejs/bin/node /home/pi/thingengine-platform-server/main.js

[Install]
WantedBy=default.target
