extends layout

block scripts
  if ownTier
    script(src='/javascripts/' + ownTier + '-devices-create.js')
  else
    script(src='/javascripts/shared-devices-create.js')
  script(src='/javascripts/devices-create.js')

block page_name
  if onlineAccounts
    | New online account
  else
    | New device

block content
  if onlineAccounts
    p What account do you want to set up?

    form(action="/devices/create?class=online", method="post")
      input(type='hidden',name='_csrf',value=csrfToken)

      div#online-account-selector.container
  else
    form(action="/devices/create?class=physical", method="post")
      input(type='hidden',name='_csrf',value=csrfToken)

      div.form-group
        label(for="device-kind").control-label What kind of device are you trying to configure?
        select#device-kind(name="kind").form-control
          option(value='',selected=true) Select one device...

      div.well#device-placeholder

  span.hidden#developer-key= developerKey