extends layout

block scripts
  script(src=Config.BASE_URL + '/javascripts/devices-create.js')

block page_name
  = _("New Skill")

block content
  p.subtitle-conf-msg= _("What skill do you want to set up?")
  div#online-account-selector.container
