extends layout

block page_name
  = _("Error")

block content
  div.msg-container
    div.msg-title
      h2.p= _("Sorry that did not work")
    div.msg-body
      h3.p= message
  div.msg-button
    a(href='javascript:history.back()').btn.btn-primary.custom-btn= _("Go back")
