extends layout

block page_name
  | Error

block content
  div.sp_blk
    div.blk_sx
      img.err_img(src=Config.BASE_URL + '/images/almond_error.png')
    div.blk_dx
      div.sorry
        h2.p Sorry that did not work
      div.sp_msg
        h3.p= message
  div.sp_btn
    a(href='javascript:history.back()').btn.btn-primary Go back
