extends layout

block page_name
  - index = true;
  | ThingEngine

block content
  div.jumbotron.text-center
    h1 It works!
    p This is your personal ThingEngine instance, running on #{server.name} at
      |  port #{server.port}.
    p If you see this message, your server is correctly configured.
      | From here, you can see the 
      a(href='/apps') list of installed apps
      |  or 
      a(href='/config') show the configuration
      | .

    if !cloud.isConfigured
      p You did not configure cloud access yet. You should do that 
        a(href='/config') now
        | .

    if server.initialSetup
      p.text-danger
        | The server is in initial setup mode and thus open to
        |  all external access. Pair your phone soon!

    if !user.isConfigured
      p.text-danger
        | You should configure a username and a password to access your
        | ThingEngine, or everyone will be able to use it!
        br
        | You can do it from the 
        a(href='/config') configuration page
        | .

  footer
    p
      small ThingEngine is a research project of the Mobisocial Computing Laboratory
        |  at Stanford University.
    p
      small
        a(href='http://thingpedia.stanford.edu/about') About
        |  &mdash; 
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine/issues') Report a bug