extends layout

block page_name
  - index = true;
  | ThingEngine

block content
  div.jumbotron.text-center
    h1 It works!
    p This is your personal Almond instance, running on #{server.name} at
      |  port #{server.port}.
    p If you see this message, your server is correctly configured.

    p
      a(href='/conversation').btn.btn-primary=_("Start a conversation")
      | &nbsp;
      a(href='/apps').btn.btn-default= _("Check your enabled rules")

    //if !cloud.isConfigured
      p You did not configure cloud access yet. You should do that&#x20;
        a(href='/config') now
        | .

    //if server.initialSetup
      p.text-danger
        | The server is in initial setup mode and thus open to
        |  all external access. Pair your phone soon!

  footer
    p
      small Almond is a research project of the Mobisocial Computing Laboratory
        |  at Stanford University.
    p
      small
        a(href='http://thingpedia.stanford.edu/about') About
        |  &mdash;&#x20;
        a(href='https://github.com/Stanford-IoT-Lab/thingengine-platform-server/issues') Report a bug
