extends layout

block page_name
  - index = true;
  | Almond

block content
  form(action=Config.BASE_URL + '/listen',method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    button(type='submit')#listen-button
      img(src=Config.BASE_URL + '/images/doctor.png')
