extends layout

block page_name
  | Login

block content
  if isLocked
    p Your Almond is locked. Your must input your password to start it.
  else
    p You have been logged out. You must input your password again to access your Almond.

  each error in errors
    div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×

      p= error
  form(action=Config.BASE_URL + '/user/login', method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    input(type='hidden',name='username',value='ignored')
    div.form-group
      label(for='password').control-label Password
      input(type='password',name='password',value=password).form-control#password
    div.form-group
      button(type='submit').btn.btn-primary#login_btn Log in
