extends layout

block page_name
  | Error

block content
  h1 Login required
  p This Almond instance is configured to require login.
  p
    a(href='javascript:history.back()').btn.btn-default Go back
    span= " "
    a(href=Config.BASE_URL + '/user/login').btn.btn-primary Log in
