ul.nav.navbar-nav
  li.hidden-md.hidden-lg
    a(class="scroller", href="/") Home
  li
    a(class="scroller", href="/config") Configuration
  li
    a(class="scroller", href="/apps") Installed Apps
   li
    a(class="scroller", href="/apps/create") New App
  li
    a(class="scroller", href="/devices?class=physical") Devices
  li
    a(class="scroller", href="/devices?class=online") Online Accounts

ul.nav.navbar-nav.navbar-right
  if authenticated
    li
      a.navbar-login#navbar-login-button(class="scroller", href="/user/logout") Log out
