html, body {
    min-height: 100%;
    height: 100%;
}

.fill {
    height: calc(100vh - 100px);
}

body {
    padding-top: 60px; /* space for the top nav bar */
    margin-right: 30px;
}

#forgeViewer {
    width: 100%;
}  