.app-template {
    border: 1px gray;
    border-radius: 5px;
}

.installed-dev .panel-heading {
    display: block;
}

.installed-dev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.installed-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-bar.fa,
.bottom-bar.far {
    cursor: pointer;
    border-radius: 60px;
    background-color: transparent;
    color: white;
    margin: 5px;
    width: 1.6em;
    height: 1.7em;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    border: none;
}

.bottom-bar.fa:hover,
.bottom-bar.far:hover {
    background-color: #8c1515;
}

.form-inline.form-config {
    float: right;
}

.form-inline.form-delete {
    float: right;
}

@media (min-width: 992px) {
    .panel-footer>.row>.col-md-6 {
        width: 100%;
    }
}

p.device-icon-small {
    float: left;
    padding-right: 1em;
}

#back-top {
    text-align: right;
    padding-top: 3em;
    width: 100%;
}

#bttop-button {
    border-radius: 35px;
    font-weight: 600;
    font-size: 2em;
}