.app-template {
    border: 1px gray;
    border-radius: 5px;
}

.installed-dev .panel-heading {
    display: block;
}

.installed-dev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-delete-app {
    float: right;
}

