html,
body {
    margin: 0;
}

.force-inline {
    display: inline;
}

#page-body {
    margin-top: 45px;
    min-height: calc(100vh - 195px);
    height: auto !important;
}

#page-body.container,
#page-body.container-fluid {
    padding-bottom: 30px;
    min-height: calc(100vh - 145px);
}

#page-title {
    text-align: center;
}

footer.page-footer {
    padding-top: 1.5em;
    background-color: #585858;
    color: white;
    text-align: right;
    min-height: 100px;
}

footer.page-footer a:link,
footer.page-footer a:visited,
footer.page-footer a:hover {
    color: white;
}

.placeholder {
    font-style: italic;
}

.form-inline .form-control {
    margin-left: 6px;
    margin-right: 12px;
}

.form-inline .form-block {
    margin-bottom: 15px;
}

#navbar-login-button {
    margin-right: 30px;
}

#qrcode-placeholder>img {
    margin-left: auto;
    margin-right: auto;
}

#qrcode-target {
    display: none;
}

#config-phone-mobile-browser {
    display: none;
}

.app-content {
    font-size: 120%;
}

.app-content h1 {
    font-size: 200%;
}

.app-content h2 {
    font-size: 110%;
}

#code {
    height: 20em;
}

.online-account-choice {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.online-account-expander {
    padding-top: 1em;
}

#app-install-description {
    font-style: italic;
}

#app-install-well .btn,
#show-hide-code .btn {
    margin-bottom: 1em;
}

#app-install-alert {
    margin-bottom: 1em;
}

pre,
pre code {
    color: black;
}

.app-template {
    margin-bottom: 0.5em;
}

.device-icon-small>img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 auto;
}

.dev-template .panel-heading {
    font-weight: bold;
    text-align: center;
    display: block;
}

#listen-button {
    background: none;
    border: none;
}

#listen-button img {
    height: 80vh;
    display: block;
    object-fit: contain;
}

.consent_conf {
    padding-top: 20px;
}

.consent_conf>h2 {
    color: #8c1515;
    font-weight: 500;
}

.navbar-brand.hidden-sm {
    font-weight: bold;
    line-height: 21px;
    height: 47px;
    font-size: 26px;
}

#login_btn {
    border-radius: 15px;
    font-weight: 600;
}

.sp_blk {
    min-height: 15em;
    padding-top: 4em;
}

.blk_sx {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 6em;
}

.err_img {
    width: 100px;
}

.blk_dx {
    width: 50%;
    float: right;
}

.sorry>h2 {
    font-weight: 600;
    padding: 0.5em 0em;
}

.sp_msg {
    color: #8c1515;
}

.sp_msg>h3 {
    font-weight: 400;
}

.sp_btn {
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

.sp_btn>a {
    border-radius: 15px;
}

.logo_top {
    width: 55px;
    float: left;
    margin-right: 10px;
}