@import '../../global';

.message {
  display: flex;
  margin-bottom: $default-padding;
}

.message-other {
  flex-direction: row;
}

.message-user {
  flex-direction: row-reverse;
}

.avatar {
  background-color: color(black, base);
  border-radius: 25px;
  height: 25px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #487eb0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
}