@import '../../global';

.rdl-bubble {
  width: 600px;

  a {
    color: inherit;
    text-decoration: none;
  }

  .rdl-bubble-image {
    min-height: 200px;
    background-size: cover;
  }

  .rdl-bubble-body {
    padding: $bubble-padding;


    .rdl-bubble-title {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    .rdl-bubble-text {
      margin: 0;
    }
  }
}