Source: thingengine-server
# Not sure about this section, picking it because the raspberrypi
# is definitely embedded
# List of sections at https://www.debian.org/doc/debian-policy/ch-archive.html#s-subsections
Section: embedded
Priority: optional
Maintainer: Giovanni Campagna <gcampagn@cs.stanford.edu>
Build-Depends: debhelper (>= 9), nodejs-dev (>= 0.10.0), npm, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.5
Homepage: http://thingpedia.stanford.edu
Vcs-Git: git://github.com/Stanford-IoT-Lab/ThingEngine.git
Vcs-Browser: https://github.com/Stanford-IoT-Lab/ThingEngine

Package: thingengine-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs
Description: An Engine to run IoT apps and interact with devices, based on node.js 
 ThingEngine allows you to run small apps and rules on your phone
 and private server, to privately manage your data and your IoT
 devices, including medical sensors, security cameras, fitness bands
 and communication devices.
 thingengine-server is the private server component that you can run
 on a raspberry-pi, a small unused laptop in the corner of your room,
 or dedicated cloud infrastructure such as OpenStack.
