@import '../global';

.chat-feed {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $default-padding;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  // Align messages to bottom
  > :first-child {
    margin-top: auto !important;
  }
}
